@import 'tailwindcss';

.theme-button {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 5%;
  right: 2.5%;

  @variant not-md {
    top: 2.5%;
    right: 5%;
  }
}